/*********************************L Anim**************************************  */

#floatingBarsG{
position:relative;
width:62px;
height:77px}

.blockG{
position:absolute;
background-color:#272b2;
width:10px;
height:24px;
-moz-border-radius:8px 8px 0 0;
-moz-transform:scale(0.4);
-moz-animation-name:fadeG;
-moz-animation-duration:0.8800000000000001s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:8px 8px 0 0;
-webkit-transform:scale(0.4);
-webkit-animation-name:fadeG;
-webkit-animation-duration:0.8800000000000001s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:8px 8px 0 0;
-ms-transform:scale(0.4);
-ms-animation-name:fadeG;
-ms-animation-duration:0.8800000000000001s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:8px 8px 0 0;
-o-transform:scale(0.4);
-o-animation-name:fadeG;
-o-animation-duration:0.8800000000000001s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:8px 8px 0 0;
transform:scale(0.4);
animation-name:fadeG;
animation-duration:0.8800000000000001s;
animation-iteration-count:infinite;
animation-direction:normal;
}

#rotateG_01{
left:0;
top:28px;
-moz-animation-delay:0.33s;
-moz-transform:rotate(-90deg);
-webkit-animation-delay:0.33s;
-webkit-transform:rotate(-90deg);
-ms-animation-delay:0.33s;
-ms-transform:rotate(-90deg);
-o-animation-delay:0.33s;
-o-transform:rotate(-90deg);
animation-delay:0.33s;
transform:rotate(-90deg);
}

#rotateG_02{
left:8px;
top:10px;
-moz-animation-delay:0.44000000000000006s;
-moz-transform:rotate(-45deg);
-webkit-animation-delay:0.44000000000000006s;
-webkit-transform:rotate(-45deg);
-ms-animation-delay:0.44000000000000006s;
-ms-transform:rotate(-45deg);
-o-animation-delay:0.44000000000000006s;
-o-transform:rotate(-45deg);
animation-delay:0.44000000000000006s;
transform:rotate(-45deg);
}

#rotateG_03{
left:26px;
top:3px;
-moz-animation-delay:0.55s;
-moz-transform:rotate(0deg);
-webkit-animation-delay:0.55s;
-webkit-transform:rotate(0deg);
-ms-animation-delay:0.55s;
-ms-transform:rotate(0deg);
-o-animation-delay:0.55s;
-o-transform:rotate(0deg);
animation-delay:0.55s;
transform:rotate(0deg);
}

#rotateG_04{
right:8px;
top:10px;
-moz-animation-delay:0.66s;
-moz-transform:rotate(45deg);
-webkit-animation-delay:0.66s;
-webkit-transform:rotate(45deg);
-ms-animation-delay:0.66s;
-ms-transform:rotate(45deg);
-o-animation-delay:0.66s;
-o-transform:rotate(45deg);
animation-delay:0.66s;
transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:28px;
-moz-animation-delay:0.7700000000000001s;
-moz-transform:rotate(90deg);
-webkit-animation-delay:0.7700000000000001s;
-webkit-transform:rotate(90deg);
-ms-animation-delay:0.7700000000000001s;
-ms-transform:rotate(90deg);
-o-animation-delay:0.7700000000000001s;
-o-transform:rotate(90deg);
animation-delay:0.7700000000000001s;
transform:rotate(90deg);
}

#rotateG_06{
right:8px;
bottom:7px;
-moz-animation-delay:0.8800000000000001s;
-moz-transform:rotate(135deg);
-webkit-animation-delay:0.8800000000000001s;
-webkit-transform:rotate(135deg);
-ms-animation-delay:0.8800000000000001s;
-ms-transform:rotate(135deg);
-o-animation-delay:0.8800000000000001s;
-o-transform:rotate(135deg);
animation-delay:0.8800000000000001s;
transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:26px;
-moz-animation-delay:0.99s;
-moz-transform:rotate(180deg);
-webkit-animation-delay:0.99s;
-webkit-transform:rotate(180deg);
-ms-animation-delay:0.99s;
-ms-transform:rotate(180deg);
-o-animation-delay:0.99s;
-o-transform:rotate(180deg);
animation-delay:0.99s;
transform:rotate(180deg);
}

#rotateG_08{
left:8px;
bottom:7px;
-moz-animation-delay:1.1s;
-moz-transform:rotate(-135deg);
-webkit-animation-delay:1.1s;
-webkit-transform:rotate(-135deg);
-ms-animation-delay:1.1s;
-ms-transform:rotate(-135deg);
-o-animation-delay:1.1s;
-o-transform:rotate(-135deg);
animation-delay:1.1s;
transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#272b2}

}

@-webkit-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#272b2}

}

@-ms-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#272b2}

}

@-o-keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#272b2}

}

@keyframes fadeG{
0%{
background-color:#000000}

100%{
background-color:#272b2}

}
/*End  */