.findTextBox{
	background-color: #272b2f;
	border: 1px solid #444;
	border-top: none;
	border-radius:6px;
	width:100%;
	/* padding: 7px 9px 10px 9px; */
	box-sizing: border-box;
	height:40px;
	color: white;
	font-size: 18px;
}
.district {
 background-color: #272b2f;
	border: 1px solid #444;
	border-top: none;
	border-radius:6px;
	width:100%;
	/* padding: 7px 9px 10px 9px; */
	box-sizing: border-box;
	height:40px;
	color: white;
	font-size: 18px;
}
.findButton{
	font-size:18px;
	font-family: Arial, sans-serif;
	background: #159238;
	color: white;
	border: 0 none;
	padding: 8px 25px;
	border-radius:6px;
	cursor: pointer; ;/*top, rght btm lft */
}
.logo {
	width:100%;
    height:auto;
    position: relative;
    display:block;
    margin:0 auto; 
    margin-top: -20px;
}
.logo img{
	max-width:100% !important;
    height:auto;
    display:block;
}

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.findTextBox{
	background-color: #272b2f;
	border: 1px solid #444;
	border-top: none;
	border-radius:6px;
	width:100%;
	/* padding: 7px 9px 10px 9px; */
	box-sizing: border-box;
	height:30px;
	color: white;
	font-size: 18px;
}
.district {
  background-color: #272b2f;
  border: 1px solid #444;
  border-top: none;
  display: block;
  line-height: 15px;
  border-radius: 6px;
  width: 100%;
  padding: 0 0;
  height:30px;
  box-sizing: border-box;
  color: #eee;
  font-size: 13px;
}
.findButton{
	font-size:18px;
	background: #159238;
	color: white;
	border: 0 none;
	padding: 0 0;
	width:100%;
	border-radius:6px;
	cursor: pointer; ;/*top, rght btm lft */
}
	.hideit{
	display: none;
	}
	.logo img{
	display: none;
}
}