/*=============================================================
   
    ========================================================  */

.body { 
	width: 100%;
}
#home{
background: url(../img/header.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
}
    #home h1 {
        padding:150px 20px 20px 0px;
        color:#ff0000;
        font-size:40px;
        font-weight:900;

    }
    #home .head-text span {
        display: block; 
        font-size: 25px; 
        color: #fff; 
        margin-bottom: 25px;
    }
        #home .head-text span >i {
             margin-right: 10px; 
             color: #159238;
        }
     #home p {
        padding:10px 20px 20px 20px;
        color:#fff;
        font-size:16px;
        line-height:20px;
        font-weight:800;       
       text-align:center;
    }
    #home .overlay {
              background:url(../img/06.png);        
        min-height:700px;
    }
    #home h3 {
        /* color:#fff; */
    }
    .top-side {
	width: 30%;
	float: left;
	margin-left: 2%;
	margin-bottom: 2%;
}
    .div-trans {
padding-top: 5px;
background-color: rgba(0, 0, 0, 0.5);
min-height: 330px;
margin-top: 0;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 30px;
overflow: hidden;

}
        .div-trans i {
            margin-left: 10px; 
            margin-right: 10px; 
            color: #159238;
        }
        .div-trans span {
            color: #ff0000;
        }
        .div-trans button {
            background-color: #159238;
	  		border-radius: 0;
	  		height: 34px;
        }
        .div-trans input{
        	color: #fff;
        	/* font-size: 1.429em; */
        }
        .div-trans select {
		  background-color: #159238;
		  border-radius: 0;
		  height: 34px;
		  font-size: 14px;
		    padding: 6px 12px;
	}
#home .form-control {
    background-color:transparent;
}

/*=====================================
 ABOUT SECTION
    ===================================*/

#about {
     background-color: #efefef; 
     padding-top: 80px;
}
.big-icon {
    font-size:250px;
}

.why-div {
    text-align: justify; 
    padding: 10px 50px;
}


.carousel-control.left {
left: 0;
right: auto;
background-repeat: repeat-x;
background-image: linear-gradient(to left,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
.carousel-control.right {
right: 0;
left: auto;
background-repeat: repeat-x;
background-image: linear-gradient(to right,rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, 0) 100%)!important;
}
.carousel-indicators li {
    border:2px solid #159238;
    width:10px;
    height:10px;
}
.carousel-indicators .active {
    border:2px solid #159238;
    width:10px;
    height:10px;
    background:#159238;
}

/*=====================================
  DONARS STYLES 
    ===================================*/
.donars-section {
background: url(../img/donars.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
color:#fff;
}
 .donars-section .overlay {
              background: url(../img/02.png);     
    }
.slide-custom {
    min-height:200px;
    padding:100px 20px 100px 20px;
    line-height:30px;
}
.donars-section h4 {
    line-height:40px;
}
 .donars-section h4 i{
   padding:5px;
}

 
/*==========================================
   PORTFOLIO STYLES
    =====================================================*/

#port-folio {
    padding-top: 80px; 
    padding-bottom: 100px; 
    background-color: #efefef; 
}
.portfolio-item {
    border:5px solid #159238;
    margin:3px;
}
    .portfolio-item p {
        padding:50px;
        color:#fff;
    }

.portfolio-item .overlay {
   position: absolute;
  top: 0;
  left: 0;
    width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #159238;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
  cursor:pointer;
  border-bottom-left-radius:200px;
  border-top-right-radius:200px;
  -webkit-border-bottom-left-radius:200px;
  -webkit-border-top-right-radius:200px;
  -moz-border-bottom-left-radius:200px;
  -moz-border-top-right-radius:200px;
}
.portfolio-item .overlay .preview {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
.portfolio-item:hover .overlay {
  opacity: 1;
  zoom: 1;
	filter: alpha(opacity=100);
}
.overlay a,overlay a:hover{
    color:#fff;
    text-decoration:none;
}
#port-folio .overlay p > span {
    display:block;
    padding-bottom:20px;
}

/*==========================================
   HELP STYLES
    =====================================================*/

#help {
    color:#fff;
   
      background: url(../img/help.jpg) no-repeat center center;
padding: 0;
-webkit-background-size: cover;
background-size: cover;
}

#help .overlay {
              background:rgba(32, 32, 32, 0.3); 
                padding-top: 80px; 
    padding-bottom: 100px;       
    }


.vedio-style {
border: 5px solid #159238;
width: 100%;
min-height: 300px;
margin-top: 20px;
}
/*==========================================
   CONTACT STYLES
    =====================================================*/
#contact {
    padding-top:80px;
    background-color: #efefef;
}

#contact .form-control {
    background-color:transparent;
    height:40px;
}

#contact  .div-trans button {
            background-color: #159238;
}
.distrpanal{
	padding: 0 0 0 0;
}
.distrpanal{
	list-style:none;
	color:#666;	
	line-height:1.5;
	margin-top:0;
	text-align: left;
}
.distrpanal a:hover, a.active {
  color: #159238;
}
.catgrypanal{
	list-style:none;
	line-height:1.5;
	margin-top:0;
	text-align: left;
	font-size: 	1em
}
.catgrypanal a:hover, a.active{
	color: #159238;
}
.catgrypanal h3{
	margin: 0 0 0 0;
}
.catgry {
	margin-bottom: 1%;
}
.catgry h3{
	color: #159238;
}
/*==========================================
   FOOTER STYLES
    =====================================================*/

#footser-end {
    text-align:right;
  background-color:#242222; 
   color:#fff;
   padding:10px;
}

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.body {
	width: 100%;
	}
	.top-side {
	width: 100%;
	float: left;
	margin-left: 0%;
	margin-top:-15%;
	margin-bottom: 0;
	}
	.div-trans {
	margin-top:15%;
	}
	
	 .div-trans select {
		  height: 34px;
		  padding: 0px 2px;
	}
	.catgrypanal h3 {
	font-size: 20px;
}
}
/* iPhone */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.div-trans select {
		  height: 34px;
		  padding: 0px 0px;
		  width: 70px;
	}
	.div-trans button {
		  background-color: #159238;
  		  border-radius: 0;
 		  height: 34px;
  		  width: 50px;
 		  padding: 0px 0px;
	}
}
 
