/*
	Description: LookFor web main css
	Version: 1.0
	Author: Vithu Ratna
	Author URL:
*/
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
	font-family: montserrat, arial, verdana;
	/* background-image: url('img/bg.png'); */
	background-color:#272b2f;
	color:#272b2f;
	font-size: 87.5%; /*base font size is 14px*/
	/*line-height:1.0; */
	text-align: left;
}
/*link style*/
a{
	text-decoration: none;
}
header {
	padding-top: 2px;
}
a:link, a:visited{
	color: #666;
}
.linkSmall{

}
.linkMedium{

}
.linkBig{

}
a:hover, a:active{
	color: #159238;	
}

.body{
	margin: 0 auto;
	width:100%;
	
	min-height:100%;
	position:relative;
	
}
.main{
	margin: 0 auto;
	width:80%;
	
	min-height:100%;
	position:relative;
	
}

.search{
}
.findTextBox{
	background-color: #272b2f;
	border: 1px solid #444;
	border-top: none;
	border-radius:6px;
	width:100%;
	margin-right:100px;
	padding: 7px 9px 10px 9px;
	box-sizing: border-box;
	font-family: montserrat;
	color: white;
	font-size: 18px;
}
.district{
	background-color: #272b2f;
	border: 1px solid #444;
	border-top: none;
	display: block;
	line-height: 15px;
	border-radius:6px;
	width:100;
	padding: 10px 12px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #eee;
	font-size: 13px;
	
	
}
.findButton{
	font-size:18px;
	font-family: Arial, sans-serif;
	background: #159238;
	color: white;
	border: 0 none;
	padding: 8px 25px;
	border-radius:6px;
	cursor: pointer; ;/*top, rght btm lft */
}
.findButton:hover{
	background-color: #159238;
}
.logo {
	font-size: 0;
	margin-left: -10%;
}
.logo img{
	width:20%;
	height: 80px;
	padding-top: 0%;
	padding-bottom: 0%;
}

.leftSideContent{
	width:22%;
	float:left;
	margin-top: 2%;
}
.leftTop{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	padding: 1% 4%;  /**top, rght btm lft */
}
.leftBotom{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;  
	padding: 1px 2%;
	margin-top: 0%; /**top, rght btm lft */
}
.leftBotom h3{
	color:gray;
}
.location{
}
.destrics {
	padding: 0 0 0 0;
}
.destrics ul li {
	list-style:none;
	color:#666;	
	line-height:1.5;
	margin-top:0;
}
.mainContent{
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	/*overflow: hidden; */
	
}	

.content{
	width:58%;
	float:left;
	margin-top: 2%;
} 
.topContent{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%;
	margin-left: 2%;
}
.update-date{
	font-style: italic;
	color:gray;
	font-size:85%;
}
.midleContent{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 3% 5%;
	margin-left: 2%;
	margin-top:2%;
}
.rightSideContent{
	width:18%;
	float:left;
	margin: 2% 0 0 2%; /**top, rght btm lft */	 
	
}	
.rightTop{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	padding: 2% 4%;  /**top, rght btm lft */
	margin-bottom: 8%;
}
.rightBotom{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	padding: 2% 4%;  /**top, rght btm lft */
}
/*pagination*/
.pagination {
    background: #f2f2f2;
    padding: 20px;	
    margin-top:20px;
    margin-bottom: 20px;
}
.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 0px;
    border-radius: 0px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .999em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}
.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}
/*pagination-end*/
.mainFooter{
	width:100%;
	height:40px;
	float:left;
	background-color:#666;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	margin: 2% 0 2% 0; /**top, rght btm lft */

	
	
}	
.mainFooter p{
	width:92%;
	margin: 1.5% auto;
	color:#fff;	
}
/*all page*/

.allmainContent{
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	/*overflow: hidden; */
	
}	

.allcontent{
	width:78%;
	float:left;
	margin-top: 2%;
} 
.alltopContent{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 5px 10px 10px 10px;
	margin-left: 2%;
}

.subtitle{
	font-style: bold;
	color: gray;
	
}
.addresstitle{
	font-style: bold;
	color: #666;
	
}
.allmidleContent{
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 30px 10px 40px; /**top, rght btm lft */
	margin-left: 2%;
	margin-top: 4px;
	line-height: 150%;
}
.shopname{
	color: #159238;
	font-size:130%;
}
.alltr{
	font-style: none;
	color:gray;
	font-size:85%;
}
/*inputs*/
.inputText {
	padding: 0 0 0 0; /*top, rght btm lft */
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 20px 0 0 0;
	width: 250px;
	height: 28px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
.deleteButton{
	width: 100px;
	height: 28px;
	margin-top:5px;
	background: #159238;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 0 0 0 0; /*top, rght btm lft */
	margin-right: 5px;
}
.editButton{
	width: 100px;
	height: 28px;
	margin-top:5px;
	background: #159238;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 0 0 0 0; /*top, rght btm lft */
	margin-right: 5px;
}
.wrongText{
	color: red;
}
.deleteText{
	color: gray;
	font-weight: bold;
}
.defaultGreen{
	color: #159238;
	font-weight: normal;
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
/*  */

/*************************************************************************************************************************/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo img{
  	margin-left: 8%;
}
.main{
	margin: 0 auto;
	width:100%%;
	
	min-height:100%;
	position:relative;
	

.district{
}
.findTextBox{
}
.findButton{
}

}
/*************************************************************************************************************************/
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 973px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	.logo img{
  	/* margin-left: 50px; */
}

.district{
	margin-right: -50px;
}
.findTextBox{
	width: 100%;
	margin-right: -20%;
}
.findButton{
	width: 95%;
	margin-right: -10px;
}

} 	
/*************************************************************************************************************************/
@media only screen and (min-width: 150px) and (max-width: 767px){
	.body{
		width: 90%;
		font-size:95%;
	}
	.mainHeader img{
		width:100%;
	}
	.logo img{
	width:90%;
	height:40%;
	margin-top:-5%;
	padding-left:14%;
	margin-bottom: -10%;
}
header {
	padding-top: 2px;
}
#wrap > header {
	background-color: #292914;
	padding-top:-20%;
}
	/* Left content*/
	.leftSideContent{
		width:100%;
		padding: 2% 0%;
	}
	.leftTop{
		background-color:#fff;
		width:96%;
		margin: 2% 4% 2% 0;
		padding: 1% 0 1% 4%;  /**top, rght btm lft */
	}
	.leftBotom{
		background-color:#fff;
		width:96%;
		margin: 2% 4% 2% 0;
		padding: 1% 0 1% 4%;  /**top, rght btm lft */
	}
	/*middle content*/
	.content{
		width:100%;
		float:left;
		margin-top: 0%;
	} 
	.update-date{
		display: none;
	}
	
	.topContent{
		background-color:#fff;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding: 1% 5%;  /**top, rght btm lft */
		margin: 0% 0% 2% 0;
	}
	.midleContent{
		background-color:#fff;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		padding: 1% 5%;  /**top, rght btm lft */
		margin: 0% 0% 0% 0;
	}
	
	/*right content*/
	.rightSideContent{
	    background-color:transparent;
		border-radius:5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float:left;
		width:100%;
		padding: 0% 0%;
		margin-left:0;
	}
	.rightSideContent a:link{
		width: 90%;
	}
	
	.rightTop{
		float:left;
		width:92%;
		background-color:#fff;
		margin: 0% 0% 0% 0;  /**top, rght btm lft */
	}
	
	.rightBotom{
		float:left;
		width:92%;
		background-color:#fff;
		margin: 2% 0% 0% 0%; /**top, rght btm lft */
	}
.district{
		float:left;
		width: 50%; 
}
.findTextBox{
	width: 100%;
}
.findButton{
	width: 50%;
}
.allmainContent{
	line-height:20px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px; 
	/*overflow: hidden; */
	
}
.allcontent{
	width:100%;
	float:left;
	margin-top: 2%;
}
.allmidleContent{
	width:100%;
	background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding: 10px 0px 10px 8px; /**top, rght btm lft */
	margin-left: 0%;
	margin-top: 4px;
	line-height: 150%;
}
.mainFooter{
	width:128%;
	margin-left: -12%;
	}
}
