/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
/* body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

 */

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
.stars-small
{
    margin: 10px 0 0 0;
    font-size: 15px;
    color: #d17581;
}
/*Ribbon  */
#ribbon-container {
overflow: hidden; /* so we can see the pseudo-elements we're going to add to the anchor */
font-size: 129%; /* font-size and line-height must be equal so we can account for the height of the banner */
line-height: 18px;
}

/* #ribbon-container:before {
content:"";
height: 0;
width: 0;
display: block;
position: absolute;
top: 3px;
left: 0;
border-top: 29px solid rgba(0,0,0,.3); These 4 border properties create the first part of our drop-shadow
border-bottom: 29px solid rgba(0,0,0,.3); 
border-right: 29px solid rgba(0,0,0,.3);
border-left: 29px solid transparent;
} */

/* #ribbon-container:after { This adds the second part of our dropshadow
content:"";
height: 3px;
background: rgba(0,0,0,.3);
display: block;
position: absolute;
bottom: -3px;
left: 58px;
right:3px;
} */
#ribbon-container span {
	width: 100%;
display:block;
padding:20px;
position:relative; /* allows us to position our pseudo-elements properly */
background:#E0E0D1;
overflow:visible;
height:58px;
margin-left:29px;
color:#159238;
text-decoration:none;
font-size:130%;
}
/* 
#ribbon-container span:after { this creates the "folded" part of our ribbon
content:""; 
height: 0;
width: 0;
display:block;
position:absolute;
bottom:-15px;
right:0;
border-top: 15px solid #004a70; 
border-right: 15px solid transparent;
} */

#ribbon-container span:before { /* this creates the "forked" part of our ribbon */
content:"";
height: 0;
width: 0;
display:block;
position:absolute;
top:0;
left:-29px;
border-top: 29px solid #E0E0D1; 
border-bottom: 29px solid #E0E0D1; 
border-right: 29px solid transparent;
border-left: 29px solid transparent;
}

#ribbon-container span:hover {
background:#CACABC;
}

#ribbon-container span:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
border-top: 29px solid #CACABC; 
border-bottom: 29px solid #CACABC;
}
/*Ribbon-End  */
.addresstitle{
	font-style: bold;
	color: #a94442;	
}
/* receding background dialog box */
/* end dialog box */
#dialog {
  border-radius: 15px;
  pointer-events: none;
  position: fixed;
  width: 50%;
  background: white;
  box-shadow: 0 0 25px black;
  top: 16%;
  opacity: 0;
}
.dialogIsOpen #dialog {
  pointer-events: auto;
  opacity: 1;
}
#dialog h2 {
  font-size: 24px;
}

.dialogIsOpen {
  /* Regular size and visible */
  transform: scale();
  /* prefix me */
  opacity: 1;
  /* Clickable */
  pointer-events: auto;
}

#dialog {
  transition: all 0.7s ease;
  /* prefix me */
}
.dialogIsOpen #main {

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);
transition: transform .3s ease, opacity .3s ease;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}
@media only screen and (min-width : 150px) and (max-width : 780px)
{
	#ribbon-container span{
	font-size: 130%
	}
	#dialog {
	width: 96%;
  	top: 25%;
  	right: 2%;
	}
	#ribbon-container span .thin{
	font-size: 120%
	}
}
@media only screen and (min-width : 150px) and (max-width : 760px)
{
	#ribbon-container span{
	font-size: 130%
	}
	#ribbon-container span .thin{
	font-size: 110%
	}
}
@media only screen and (min-width : 150px) and (max-width : 740px)
{
	#ribbon-container span{
	font-size: 120%
	}
	#ribbon-container span.thin{
	font-size: 100%
	}
}
@media only screen and (min-width : 150px) and (max-width : 720px)
{
	#ribbon-container span{
	font-size: 110%
	}
	#ribbon-container span .thin{
	font-size: 100%
	}
}
@media only screen and (min-width : 150px) and (max-width : 700px)
{
	#ribbon-container span{
	font-size: 100%
	}
	#dialog {
	width: 96%;
  	top: 9%;
  	right: 2%;
	}
}