/*
	Date: Feb 2015
	Description: Basic HTML5/CSS3 layout built on a responsive framework
	Version: 1.0
	Author: Vithu Ratna
	Author URL: 
*/

/* ===========================
   ======= Body style ======== 
   =========================== */
   
html{
	height: 100%;
}
body {
	background-color:#272b2f;
	color: #000305;
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	text-align: left;
	font-size: 147%;
	padding-top: 70px;
  	padding-bottom: 20px;
  	height: 100%;
	}
	
.body {
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	clear: both; 
	margin: 0 auto; 
	width: 80%;
	min-height: 100%;
	position: relative;
}
	
/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */
a {
	outline: 0;
	}

a img {
	border: 0px; 
	text-decoration: none;
}

a:link, a:visited {
	/* color: #CF5C3F;
	padding: 0 1px; */
	text-decoration: none;
	color: gray;
}
.form-group .hlink{
	color: #FFFFFF;
}
.form-group .active, .hlink:HOVER{
	color: #159238;
}
a:hover, a.active {
	/* background-color: #CF5C3F;
	color: #fff;
	text-decoration: none; */
	color: #159238;
}

/* ===========================
   ===== Main logo===== 
   =========================== */

.link--kukuri {
	overflow: hidden;
	position: relative;
	color: #b2b0a9;
}

.link--kukuri:hover {
	color: #b2b0a9;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	top: 70%;
	margin-top: -8px;
	right: 0;
	background: #F9F9F9;
	transform: translate3d(-100%,0,0);
	transition: transform 0.4s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.link--kukuri:hover::after {
	transform: translate3d(100%,0,0);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}

/* ===========================
   ======= Content Area ====== 
   =========================== */

.mainContent {
	overflow: hidden;
	line-height: 25px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.topcontent {
	background-color: #FFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	padding: 1% 5%;	
	margin-bottom: 1%;
}
.topcontent-rds-less {
	background-color: #FFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	padding: 1% 5%;	
	margin-bottom: 1%;
	line-height: normal;
}
.bottomcontent {
	background-color: #FFF;	
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	padding: 3% 5%;
}

.content {
	width: 68%;
	float: left;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}

/* ===========================
   ======== Sidebar ========== 
   =========================== */

.top-sidebar {
	width: 30%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.middle-sidebar {
	width: 30%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
	margin-bottom: 2%;
}

.bottom-sidebar {
	width: 24%;
	float: left;
	margin-left: 2%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	background-color: #FFF;	
	padding: 2% 3%;
}
/* ===========================
   ========= Footer ========== 
   =========================== */

.mainFooter {
	width: 100%;
	float: left;
	margin-top: 2%;
	padding-left: 0;
	background-color: #222;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	color: #FFF;	
	bottom: 0;
}

.mainFooter p {
	width: 91%;
	margin: 2% auto;
}
/* ===========================
   ====== Components Mine ======== 
   =========================== */
.findTextBox{
	background-color: #fff;
	border: 1px solid #444;
	border-top: none;
	border-radius:6px;
	width:100%;
	margin-right:;
	box-sizing: border-box;
	font-family: montserrat;
	color: gray;
	font-size: 18px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
}
.left-sidebar {
	width: 24%;
	float: left;
	margin-right: 2%;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;	
	background-color: #FFF;	
	padding: 2% 3%;
}
.shopname{
	color: #159238;
	font-size:150%;
}
.shopname:HOVER{
	-webkit-filter: brightness(70%);
	text-decoration: underline;
}
.ad-detils{
	font-size:110%;
}
.df-green{
	color: #159238;	
}
.fontmed{
	font-size: 170%;
}
.valid {
	border: 1px solid #1FFF00;
}
.error {
	border: 1px solid red;
}
/* ===========================
   ====== Media Queries ====== 
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	.body {
		clear: both; 
		margin: 0 auto; 
		width: 90%;
	}
	
	.mainContent {
		overflow: hidden;
		line-height: 25px;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		margin-top: 4%;
		margin-bottom: 2%;
	}
	
	.topcontent {
		background-color: #FFF;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;	
		padding: 1% 5%;
		margin-bottom: 1%;
	}
	
	.bottomcontent {
		background-color: #FFF;	
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;	
		padding: 2% 5%;
	}
	
	.content {
		width: 100%;
		float: left;
		border-radius: 0px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;	
	}	

	.post-info {
		display: none;
	}
	
	.top-sidebar {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;		
	}
	
	.top-sidebar p {
		width: 90%;
	}

	.middle-sidebar {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0;
		padding: 0 7%;
		margin-bottom: 0;	
	}
	
	.middle-sidebar p {
		width: 90%;
	}
	
	.bottom-sidebar {
		width: 86%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		background-color: #FFF;	
		margin-top: 4%;
		margin-left: 0%;
		padding: 0 7%;
		margin-bottom: 1%;
	}
	
	.bottom-sidebar p {
		width: 90%;
	}
		
	.mainFooter {
		width: 100%;
		float: left;
		padding-left: 0;
		background-color: #222;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;	
		color: #FFF;	
	}
	
	.mainFooter p {
		width: 86%;
		margin: 2% auto;
	}
	.left-sidebar {
	display: none;
	}
}