

.container {
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:50%;
    margin:0 auto;
    border:1px solid #fff;
    box-shadow:0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E6E6DA;
    color: black;
    padding: 1% 1% 1% 1%;
}

.mainbody {
    height:auto;
    width:500px;
    border: solid #eee;
    border-width:2px 0;
    padding-left: 3%;
    
}


.header{
	text-align:center;font-size:130%;	background-color:#DDF0DD; border-radius:100px / 5px; height: 40px; padding: 5px; margin-bottom: 1%;
    color: #159238;	
} 

.footer {
	height: 40px; padding: 5px;	margin-top:1%; -webkit-border-bottom-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-bottomleft:5px; border-bottom-right-radius:5px;   border-bottom-left-radius:5px;
}
.adnme{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	padding: 1% 5%;	
	margin-bottom: 1%;
}