/*
	Description: LookFor web main css
	Version: 1.0
	Author: Vithu Ratna
	Author URL:
*/
/*custom font*/

/*form styles*/
.mainContent {
		overflow: visible;
}
.content {
	width: 74%;
}
#msform {
	width: 100%;
	margin: 0 0 0 0%; /*top, rght btm lft */
	float: left;
	height: auto;
	position: relative;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */	
	padding: 2% 2% 2% 5%; /*top, rght btm lft */
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto; /*top, rght btm lft */
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type){
	display: none;
}
/*inputs*/


/*End*/
.character-count{
	font-size: 14px;
}

.character	{
	padding: 0 0 2% 0; /*top, rght btm lft */
	margin-top: 5px;
	margin-left: 7px;
	display:inline;
	float:left;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

#msform .error {
	border: 1px solid red;
}

#msform .valid {
	border: 1px solid #1FFF00;
}


/*buttons*/
#msform .action-button-next {
	width: 100px;
	height: 28px;
	background: #159238;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 0 25px 0; /*top, rght btm lft */
	margin: 10px 0 0 56%;
}

#msform .action-button {
	float: center;
	width: 100px;
	height: 28px;
	background: #159238;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 0 25px 0; /*top, rght btm lft */
	margin: 30px 0 0 2%;
}

#msform .action-button:hover,#msform .action-button-next:hover,#msform .action-button:focus
	{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*display devision*/
#msform #fetch_step {
}

#msform table td {
	font-family: montserrat;
	color: #2C3E50;
	font-size: 18px;
/* 	padding: 20px 1px 0px 0px; */
	font-weight: bold;
	vertical-align: text-top;
}

#msform table td:nth-child(1) {
	text-align: right;
}

#msform table td:nth-child(2) {
	text-align: justify;
	font-family: montserrat;
	color: #000305;
	font-size: 18px;
	/* padding: 20px 0 0px 20px; */ /*top, rght btm lft */
	font-weight: normal;
	vertical-align: top;
}
#msform table td:nth-child(2) .ds {
	width : 246px;
	height: 180px;
	overflow: auto;
	padding: 0px 10px 0 0; /*top, rght btm lft */
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #000305;
	margin: 0 0 0 0;
	text-align: center;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #000305;
	margin: 0 0 1% 0;
	text-align: center;
}
/*progressbar*/
#progressbar {
	margin-bottom: 5px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	padding: 0;
}

#progressbar li { /* sub title*/
	list-style-type: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 15px;
	width: 33.33%;
	float: left;
	position: relative;
	text-align: center;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors* (the line) */
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,#progressbar li.active:after {
	background: #159238;
	color: white;
}

/* confirm*/
.confrm {
	background-color: #BFD494;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-left: 2%;
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: left;
}
/* confirm-end*/
.required .control-label:after {
  content:"*";
  color: gray;
}
/*************************************************************************************************************************/
@media only screen and (min-width: 150px) and (max-width: 750px){
	body {
	  padding-top: 40px;
	  line-height: 1;
	}
	.leftSideContent{
	display: none;	
	}
	.content {
	width: 100%;
}
#msform {
	width: 100%;
	margin: 0 0 2% 0%; /*top, rght btm lft */
	float: left;
	height: auto;
	overflow: visible;
	
}
#progressbar li { /* sub title*/
	list-style-type: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 10px;
	width: 33.33%;
	float: left;
	/* height:34px; */
	position: relative;
	text-align: center;
	  padding-top: 5px;
}
#msform #fetch_step {

}

#msform table td {
	width:100%;
	text-align: right;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 15px;
	padding: 20px 1px 0px 2px;
	font-weight: bold;
	vertical-align: text-top;
}
#msform table td:nth-child(1) {
	width : 100%;
	float: right;
	display: inline;
	white-space: nowrap;
	
}

#msform table td:nth-child(2) {
	width : 100%;
	text-align: justify;
	font-family: montserrat;
	color: #000305;
	font-size: 13px;
	padding: 20px 0 0px 20px; /*top, rght btm lft */
	font-weight: normal;
	vertical-align: top;
	
	
}
#msform table td:nth-child(2) .ds {
	width : 100%;
	height: 180px;
	overflow: auto;
	padding: 0px 10px 0 0; /*top, rght btm lft */
}
}